name: "Analyse :: All"

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: "Execute Checks"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install pre-commit
      run: |
        pip install pre-commit
        pre-commit install-hooks

    - name: Run pre-commit
      run: pre-commit run --all-files --show-diff-on-failure
