name: "Publish :: Core"

on: workflow_dispatch

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    outputs:
      pypz-version: ${{ steps.version.outputs.value }}
    environment: release
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install
      run: |
        python -m pip install --upgrade pip
        python -m pip install build
    - name: Build
      run: |
        python -m build core
    - name: Store Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: artifacts
        path: core/dist/
    - name: Retrieve Version
      id: version
      run: |
        value=$(python -c "from core.src.pypz.version import PROJECT_VERSION; print(PROJECT_VERSION)")
        echo "$value"
        echo "value=$value" >> $GITHUB_OUTPUT

  publish-to-pypi:
    needs: build
    name: "Publish to PyPi"
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
    - name: Retrieve Artifacts
      uses: actions/download-artifact@v4
      with:
        name: artifacts
        path: dist/
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1

  publish-image-dev:
    needs: build
    name: "Publish Docker Image :: Dev"
    runs-on: ubuntu-latest
    environment: release
    steps:
    - uses: actions/checkout@v3
    - name: Retrieve Artifacts
      uses: actions/download-artifact@v4
      with:
        name: artifacts
        path: dist/
    - name: Log in to Docker Hub
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - name: Build and push Docker image
      uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
      with:
        context: .
        file: .docker/Dockerfile_dev
        push: true
        tags: |
          pypz/python-base-dev:latest
          pypz/python-base-dev:${{ needs.build.outputs.pypz-version }}

  publish-image-alpine:
    needs: build
    name: "Publish Docker Image :: Alpine"
    runs-on: ubuntu-latest
    environment: release
    steps:
    - uses: actions/checkout@v3
    - name: Retrieve Artifacts
      uses: actions/download-artifact@v4
      with:
        name: artifacts
        path: dist/
    - name: Log in to Docker Hub
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - name: Build and push Docker image
      uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
      with:
        context: .
        file: .docker/Dockerfile_alpine
        push: true
        tags: |
          pypz/python-base-alpine:latest
          pypz/python-base-alpine:${{ needs.build.outputs.pypz-version }}
